<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Xadrez Gemini Bot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
  </head>
Modal title
  <body onload="onLoad()">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Xadrez Gemini Bot</a>

        <div>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#adversariosModal" id="adversarionBtn">
            Adversários
          </button>

          <button type="button" class="btn btn-danger" onclick="resetBoard()">Reiniciar</button>
        </div>
      </div>
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="adversariosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Escolha um adversário</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row" id="personalidadesBoard">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="container" style="margin-top: 1em;">
      <div class="row align-items-start">
        <div class="alert alert-warning alert-dismissible" role="alert" id="alert" style="display: none;">
          <div id="alertMessage">A simple warning alert—check it out!</div>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onclick="alertEl.style.display = 'none'"></button>
        </div>

        <div class="col" id="board"></div>

        <div class="col">

          <div class="card" style="margin-top: 1em;">
            <div class="card-body">
              <h5 class="card-title">Adversário</h5>
              <p class="card-text" id="text-adversario">
                Vamos começar
              </p>
            </div>
          </div>

          <div class="card" style="margin-top: 1em;">
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="Seu movimento" aria-label="Seu movimento" id="input-jogada">
                    <span style="font-size: 0.8em;">Utilize a notação em inglês. Ex: Nf3</span>
                  </div>
                  <div class="col-md-2">
                    <button type="submit" class="btn btn-secondary" onclick="onJogada(event)">Jogar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="card" style="margin-top: 1em;">
            <div class="card-body">
              <div class="card-title">
                <button type="button" class="btn btn-light" onclick="onDica(event)">Pedir Dica</button>
              </div>
              <p class="card-text" id="text-dica">
              </p>
            </div>
          </div>

          <div class="card" style="margin-top: 1em;">
            <div class="card-body">
              <h5 class="card-title">Jogadas</h5>
              <p class="card-text" id="text-jogadas"></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    <script>
      let personalidade = null;
      let personalidades = [];
      const inputEl = document.getElementById('input-jogada');
      const jogadasEl = document.getElementById('text-jogadas');
      const adversarioEl = document.getElementById('text-adversario');
      const dicaEl = document.getElementById('text-dica');
      const boardEl = document.getElementById('board');
      const alertEl = document.getElementById('alert');
      const alertMessageEl = document.getElementById('alertMessage');
      const adversarioBtnEl = document.getElementById('adversarionBtn');
      const personalidadesBoardEl = document.getElementById('personalidadesBoard');

      function post(url, dados) {
        const config = {
          method: 'POST',
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(dados)
        };
        return fetch(url, config);
      }

      function onJogada(e) {
        const jogada = inputEl.value;
        post('/jogada', {'jogada': jogada}).then(resp => resp.json()).then(dados => {
          if (dados.success == false) {
            alertMessageEl.innerHTML = dados.message;
            alertEl.style.display = 'block';
          } else {
            alertEl.style.display = 'none';
            adversarioEl.innerHTML = dados.bot.comentario
            inputEl.value = '';
            fetchBoard();
          }
        })
        event.preventDefault();
      }

      function onDica(e) {
        fetch('/dica').then(resp => resp.json()).then(dados => {
          dicaEl.innerHTML = dados.dica;
        })
        event.preventDefault();
      }

      function reset() {
          dicaEl.innerHTML = dados.dica;
          jogadasEl.innerHTML = '';
          adversarioEl.innerHTML = '';
      }

      function resetBoard() {
        fetch('/reset').then(resp => {
          fetchBoard()
          reset()
        })
      }

      function fetchBoard() {
        fetch('/board').then(resp => resp.text()).then(text => {
          boardEl.innerHTML = text;
        })
        fetchJogadas();
      }

      function fetchJogadores() {
        fetch('/jogadores').then(resp => resp.json()).then(dados => {
          personalidades = dados.personalidades;
          personalidadesBoardEl.innerHTML = ''
          dados.personalidades.forEach(p => {
            personalidadesBoardEl.innerHTML += `
                <div class="col-md-4">
                  <div class="card">
                    <img src="/avatars/p${p.id}.png" class="card-img-top" alt="${p.nome}>
                    <div class="card-body">
                      <h5 class="card-title">${p.nome}</h5>
                      <p class="card-text">${p.descricao}</p>
                      <a href="#" class="btn btn-primary" onclick="onPersonalidade(${p.id})" data-bs-dismiss="modal">Escolher</a>
                    </div>
                  </div>
                </div>`
          })
          personalidade = dados.selecionado;
        })
      }

      function onPersonalidade(id) {
        console.log('p', {'personalidade': id})
        post('/jogadores', {'personalidade': id}).then(resp => resp.json()).then(dados => {
          personalidade = personalidade
          reset()
          fetchBoard()
        })
      }

      function fetchJogadas() {
        fetch('/jogada').then(resp => resp.json()).then(dados => {
          jogadasEl.innerHTML = '';
          dados.jogadas.forEach(jogada => {
            let tag = ''
            if (jogada[0] % 2 === 0) {
              tag = `<span class="badge text-bg-dark">${jogada[0]}. ${jogada[1]}</span>`
            } else {
              tag = `<span class="badge text-bg-light">${jogada[0]}. ${jogada[1]}</span>`
            }
            jogadasEl.innerHTML = jogadasEl.innerHTML + ' ' + tag
          })
        })
      }

      function onLoad() {
        fetchBoard()
        fetchJogadores()

        if (personalidade === null) {
          adversarionBtn.click()
        }
      }
    </script>
  </body>
</html>
